:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.horizontal_dotted_line {
  display: flex;
  padding: 0 5px;
  color: #848080;
  margin-top: 13px;
}
.horizontal_dotted_line::before {
  border-bottom: 1px dashed #848080;
  content: "";
  flex: 1;
  margin-bottom: 9px;
}
.horizontal_dotted_line:after {
  border-bottom: 1px dashed #848080;
  content: "";
  flex: 1;
  margin-bottom: 9px;
}
* {
  margin: 0;
}
/* .MuiDrawer-paper{
  scrollbar-width: thin !important;
} */
.MuiDrawer-paper::-webkit-scrollbar {
  width: 6px !important;
}
.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background-color: #d2d7dc;
}

.MuiDrawer-paper {
  border: none;
background:#ff000030;
}
.pre-wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}
.rdg-cell {
  border-inline-end: 0px !important;
}
.rdg {
  border: 0px !important;
}
